	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{{/*  <h3>Diensten</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
					</ul>  */}}
				</div>
				<div class="col-md-3">
					<h3>Projecten</h3>
					<ul>
						{% for project in site.projecten %}
							<li><a href="{{ site.baseurl}}{{ project.url }}">{{ project.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
                <div class="col-md-3">
					{{/*  <h3>Column 2</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
					</ul>  */}}
				</div>
				<div class="col-md-3">
					<h3>Contact</h3>
					<p>Wijnand Baretta<br>Oude Zeeweg 5<br>2201 TA Noordwijk</p>
					<a href="tel:=31624243620">Telefoon: +316 2424 3620</a><br>
					Email: info -at- perceptum.nl
				</div>
			</div>
		</div>
	</footer>